.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li{
  display: none;
}

nav ul {
  padding-right: 25px;
}
.menu-btn {
  display: initial;
  margin-top: 18px;
  background: none;
  border-color: black;
}

.fa {
  display: block;
  margin-top: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 30px;
}

.fa:hover {
  cursor: pointer;
  color: #1CB6EE;
}
.fa-times {
  position: fixed;
  top: 10%;
  right: 3%;
}

.menu-content {
  margin-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;  
  background: #222;
  float: left;
}

.menu-content i {
  margin-top: 15px;
  padding: 5px 5px 5px 5px;
  color: white;
}

.menu-content a {
  color: white;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.bodyimage {
  float: left;
  margin-left: 40%;
  margin-right: 20%;
}

#bodytext {
  width: 100%;
  margin-left: 0;
}

.socialimage {
  margin-left: 40%;
  margin-right: 20%;

}

#socialtext {
  width: 100%;
  margin-left: 0;
}

/*
nav {
	margin-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
  height: 50px;

  position: relative; 
}

nav a::before {
	top: 35px;
}

.icon {
	margin-left: 60px;
}
.logo {
	float: left;
}

#bodyheader {

  padding-left: 130px;
}
.bodyimage {
  display: none;
}
#bodytext {
  width: 100%;
  height: 450px;
  padding-left: 50px;
  padding-right: 25px;
}
.aboutme {
  height: 700px;
}
.socialimage {
	display: none;
}
#socialtext {
	width: 100%;
	padding-left: 50px;
}

.social h1 {
  padding-left: 150px;
  padding-top: 0;
}

.social {
  height: 600px;
}
*/

