nav {
	/*float: left;*/
	margin-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
  height: 50px;

  position: relative; 
}

nav a::before {
	top: 35px;
}

.icon {
	margin-left: 60px;
}
.logo {
	float: left;
}

#bodyheader {
  padding-left: 140px;
}
.bodyimage {
  display: none;
}
#bodytext {
  width: 100%;
  height: 450px;
  padding-left: 50px;
  padding-right: 25px;
}
.aboutme {
  height: 600px;
}
.socialimage {
	display: none;
}
#socialtext {
	width: 100%;
	padding-left: 50px;
}

.social h1 {
  padding-left: 150px;
}

.social {
  height: 600px;
}


