body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

p {
  line-height: 25px;
}

.container {
	width: 100%;
	margin: 0 auto;
}
/* Navigation Bar*/
header {
  background: white;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
.icon {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 40px;
  float: left;
}

.logo {
  float: left;
  padding: 10px 5px;
  font-size: 20px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 50px;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative; 
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 45px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*Body*/
.body {
  float: left;
  width: 100%;
}

.aboutme {
  height: 500px;
  background: #222;
  color: white;
  
}
#bodyheader {
  float: left;
  width: 90%;
  padding-top: 40px;
  padding-left: 80px;
}

#bodytext {
  float: left;
  padding-top: 20px;
  padding-left: 120px;
  width: 600px;
}

.bodyimage {
  height: 300px;
  width: 300px;
  float: left;
  padding-left: 200px;
}

@media only screen and (max-width: 1250px) {
  .bodyimage {
    padding-left: 200px;
  }
  #bodytext {
    width: 400px;
  }
  .body {
    height: 600px;
  }
}
/* Social*/
.social {
  background: white;
  height: 500px;
}

.social h1 {
  font-size: 35px;
  color: black;
  padding-top: 40px;
  padding-left: 80px;
  float: left;
  display: block;
  width: 90%;
}

#socialtext {
  float: left;
  padding-top: 20px;
  padding-right: 80px;
  width: 600px;
}

.socialimage {
  height: 300px;
  width: 300px;
  float: left;
  padding-left: 200px;
}

.box {
  float: left;
}




