* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}


body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

p {
  line-height: 25px;
}


.container {
	width: 100%;
	margin: 0 auto;
  padding: 0 auto;
}
/* Navigation Bar*/

.navbar {
  overflow: hidden;
  background: white;
}
.icon {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 10px;
  float: left;
}

.logo {
  float: left;
  padding-left: 5px;
  font-size: 25px;
  color: #333333;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 50px;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 23px;
  position: relative; 
}

nav a {
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

nav a:hover {
  color: #1CB6EE;
}

nav a::before {
  content: '';
  display: block;
  height: 6px;
  background-color: black;

  position: absolute;
  top: 49px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.menu-btn {
  display: none;
}

.fa-bars,.fa-times {
  display: none;
}
.dropMenu {
  display: none;
}
.menu-content {
  display: none;
}

/*Body*/
.body {
  float: left;
  width: 100%;
}

.aboutme {
  width: 100%;
  height: 600px;
  background: #222;
  color: white;
  
}
#bodyheader {
  float: left;
  width: 100%;
  padding-top: 26px;
  text-align: center;
}

#bodytext {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
  width: 50%;
}

.bodyimage {
  display: block;
  margin-right: 100px;
  height: 150px;
  width: 20%;
  float: right;

}
/* Social*/
.social {
  float: left;
  background: white;
  width: 100%;
}

.social h1 {
  font-size: 35px;
  color: black;
  padding-top: 40px;
  float: left;
  display: block;
  text-align: center;
  width: 100%;
}

#socialtext {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
  width: 50%;
}

.socialimage {
  display: block;
  margin-left: 100px;
  height: 150px;
  width: 20%;
  float: left;

}


.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
}

.sticky + .body {
  padding-top: 60px;
}


